<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>집사는 집사하느라 집못사</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/assets/css/article_detail.css" rel="stylesheet">
    <script src="/assets/js/article.js"></script>
    <script src="/assets/js/article_detail.js"></script>
    <style> </style>
</head>

<body>
    <!-- 상단 네비게이션바 -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255, 238, 217);">
        <div class="container px-4 px-lg-5">
            <!-- {% if user.is_authenticated %} -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link btn me-2 btn_org" href="create_article.html">글쓰기</a></li>
                </ul>
                <a href="/"><img src="./assets/images/집집집메인로고.png" alt="상단로고" width="150"></a>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link btn me-2 btn_org" href="login.html"> 로그인 <span
                                    class="sr-only"></span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link btn me-2 btn_gr" href="signup.html"> 회원가입 <span
                                    class="sr-only"></span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item disable">
                            <span class="nav-link">
                                <!-- {{ user.username }}님 반갑습니다! -->
                            </span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link btn me-2 btn_org" href="{% url 'profile' %}"> 마이페이지 </a>
                        <li class="nav-item active">
                            <a class="nav-link btn me-2 btn_gr" button onclick="handleLogout()"> 로그아웃 </a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <!-- 글제목, 수정&삭제 버튼 -->
    <div class="maintexter">

        <div class="card-body">
            <div id="category">카테고리</div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">작성자 : <span id="author"></span></div>
            <h1 id="article-title" class="card text-center"></h1>
            <p class="d-grid gap-2 d-md-flex justify-content-md-end">
                작성날짜 : <span id="article-created-at"></span>
            </p>

        </div>
        <div class="card-body">
            <a href="#" class="btn btn-secondary me-md-2">수정하기</a>
            <a href="#" class="btn btn-secondary">삭제하기</a>
        </div>

    </div>

    <div class="maintexter">

        <img src="https://i.ibb.co/Ssm90Cq/4164335-1582361978747.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 id="article-content" class="card-title">Card title</h5>

            <p class="card-text"><small class="text-muted">마지막 수정 : <span id="article-updated-at"></span></small></p>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural
                lead-in to additional
                content. This content is a little bit longer.</p> -->
        </div>




    </div>



    <!-- 좋아요! -->
    <div class="card text-center">
        <a href="#" class="btn btn-secondary">좋아요 5개</a>
    </div>

    <div class="card text-center">
        <h2>댓글 보러가기(0)</h2>
    </div>

    <!-- 댓글 예시 -->
    <div class="card text-center">
        <div class="card-header">
            <a>(아이콘)username</a>

        </div>
        <div class="card-body" style="max-width: 1000px;">
            <div class="row g-5">
                <!-- 유저 프로필 사진 -->
                <div class="col-md-4">
                    <img src="https://i.ibb.co/Ssm90Cq/4164335-1582361978747.gif" class="img-fluid rounded-start"
                        alt="...">
                </div>
                <!-- 댓글 제목과 내용 입력-->
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Card title</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>

                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="#" class="btn btn-secondary btn-sm me-md-2">댓글 수정</a>
                        <a href="#" class="btn btn-secondary btn-sm">댓글삭제</a>
                    </div>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>



                </div>

            </div>

        </div>

    </div>
    <!-- 하단 푸터 시작-->
    <div class="jumbotron text-center mt-5 mb-0">
        <footer class="py-5 bg-dark">
            <h3 class="m-0 text-center text-white">달팽이키우기</h3>
            <div class="container">
                <div class="jumbotron text-center mt-5 mb-0">
                    <div class="mem_list">
                        <p class="m-0 text-center text-white">김성우 <a href="https://ksw4060.tistory.com/"
                                class="m-0 text-center text-white" style="
                                text-decoration:none"><img src="./assets/images/Tistory_logo.png" alt="블로그로고"
                                    width="18"></a> <a href="https://github.com/ksw406020230309"
                                class="m-0 text-center text-white" style="text-decoration:none"><img
                                    src="./assets/images/github_logo.png" alt="깃허브로고" width="18"></a>
                        </p>
                        <p class="m-0 text-center text-white">서채연 <a href="https://chaeyami.tistory.com/"
                                class="m-0 text-center text-white" style="text-decoration:none"><img
                                    src="./assets/images/Tistory_logo.png" alt="블로그로고" width="18"></a> <a
                                href="https://github.com/ChaeYami" class="m-0 text-center text-white"
                                style="text-decoration:none"><img src="./assets/images/github_logo.png" alt="깃허브로고"
                                    width="18"></a></p>
                        <p class="m-0 text-center text-white">이준영 <a href="https://beolog.tistory.com/"
                                class="m-0 text-center text-white" style="text-decoration:none"><img
                                    src="./assets/images/Tistory_logo.png" alt="블로그로고" width="18"></a> <a
                                href="https://github.com/beo202202" class="m-0 text-center text-white"
                                style="text-decoration:none"><img src="./assets/images/github_logo.png" alt="깃허브로고"
                                    width="18"></a></p>
                        <p class="m-0 text-center text-white">정재준 <a href="https://bamtol-coding.tistory.com/"
                                class="m-0 text-center text-white" style="text-decoration:none"><img
                                    src="./assets/images/Tistory_logo.png" alt="블로그로고" width="18"></a> <a
                                href="https://github.com/newstyle1443/drf_homework" class="m-0 text-center text-white"
                                style="text-decoration:none"><img src="./assets/images/github_logo.png" alt="깃허브로고"
                                    width="18"></a></p>
                        <p class="m-0 text-center text-white">박소진 <a
                                href="https://right-otter-1b4.notion.site/Sparta-f505fc85ac5145fe9104a6e2abef444d"
                                class="m-0 text-center text-white" style="text-decoration:none"><img
                                    src="./assets/images/Notion_logo.png" alt="블로그로고" width="18"></a> <a
                                href="https://github.com/jinyjin7/MyAnimal/tree/main" class="m-0 text-center text-white"
                                style="text-decoration:none">
                                <img src="./assets/images/github_logo.png" alt="깃허브로고" width="18"></a>
                        </p><br>
                        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
                        <a href="/"><img src="./image/집집집메인로고.png" alt="상단로고" width="150"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- 하단 푸터 끝-->

</body>

</html>